* {
  box-sizing: border-box;
  
}



/* .grid-container {
  width: 70%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}

.btn {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.btn button {
  border-style: none;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
  background: #30a7d7;
  color: #fff;
  font-size: 1em;
} */

.imagenes_25 {
  width: 10%;
  align-items: center;
}

.tabla {
 
  width: 50%;
  /* text-align: center;
  margin-left: 16rem;
  margin: auto; */
  grid-template-columns: 2;
  /* grid-auto-rows: minmax(3.75rem, auto); */
  /* grid-column: 3/5; */
  grid-row: 5;
}